
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>int222_122b36 - Assignment 1 - profile page </title>
    <link rel="stylesheet" href="css/reset.css"   type="text/css" media="screen" /> 
    <link rel="stylesheet" href="css/int222a1.css" type="text/css" media="screen" />
    
    <style>
        
    </style>
    
  </head>
  <body class="ord">
    <nav>
      <ul>
        <li><a href="index.html"><img id="int222" src="images/int222.png" alt="Assignment #1" />
        </a> 
        &#171; <a href="../index.html">My zenit Account</a>
        &#187; <a href="index.html">Home</a> 
        &#187; <a href="profile.html">My Profile</a>
        &#187; <a href="tables.html">Table Examples</a>
        &#187; <a href="lists.html">List Examples</a>
        &#187; <a href="text.html">Text Examples</a>
        &#187; <a href="contact.html">Contact</a>
        &#187; <a href="honesty.html">Honesty</a></li>
      </ul>
    </nav>
    <a id="top"></a>
    <p id="allowance"></p>
    <div id="firstcontent">
        <article>
          <header>
            <h1>Who I am and what my aspirations are</h1>
          </header>
          <section>
            <blockquote class="more">   
              <p class="index1">
                My name is <span class="hil">Igor Entaltsev</span> (pronounced <span class="italics">EE-gor yen-TAHL-tsev</span>), I am a 3<sup>rd</sup> semester student at Seneca College of Applied Arts and Technology in the CPD program (computer programmer).</p>
                
                <p class="index1">
                  I am an international student at Seneca and I come from Russia. My hometown in Russia is called Sochi and it is located on the Black Sea coast of Caucasus, which is a very picturesque area with the sea and the mountains. Sochi is the warmest place in Russia: we almost never have snow there and I feel very cold in northern parts to great amazement of my foreign friends ("A Russian afraid of snow!")</p>
              

                <p class="index1">
                  I went to a public school and to University for 5 years in my hometown and I have a degree in teaching English and German. I have worked as an English teacher for several years though not all the time after my graduation. I worked as a teacher at an American private school in Sochi for a year and I also lived and worked in the People's Republic of China for almost 3 years where I worked as an English teacher in the northern city of Harbin which was a challenging experience for me climatically and emotionally.</p>
              

                <p class="index1">
                  After some time in China I found myself interested in going back to college and I chose the area of computer programming. While still in China I bought a textbook on C++ and found it very interesting. I arrived in Canada with my wife and children soon after returning from China in 2011 and I have been a Seneca student since that time.</p>
              

                <p class="index1">
                  As to my plans after I graduate Seneca, I intend to work in Canada until I and my family receive a permanent residence status. I hope to find work in the internet area and/or other areas that I have studied at Seneca. Almost all of the subjects I study here are of interest to me, so it is not particularly easy to find the areas that I would like to specialize in. But among the courses that I am taking I find the most exciting are the object oriented programming and the internet. I have had a small encounter with HTML coding 10 years ago and I even created a site for a Chinese friend of mine after reading a short textbook. You could look at the site <a href="http://www.wanghuaiyu.narod.ru/" target="_blank">here</a>. I know it's nothing much, but it was my very first experience back in 2002.
              
              </p>

            </blockquote>
          </section>
        </article>
    </div>
    <p class="gototop"><a href="#top">Top</a></p>
    <hr />
    <footer>
      <section>
       <script type="text/javascript">
        //<![CDATA[
          var dt=new Date(document.lastModified);   // Get document last modified date
          document.write('<p>This page was last updated on '+dt.toLocaleString()) + '</p>';
        //]]>
        </script>
      </section>
    </footer>
   </body>
</html>