<!DOCTYPE html>

<html lang="en">
<head>
    
    <meta charset="UTF-8"/>
    
    <title>int222_122b36 - Assignment 2 - Other</title>
    <!-- link to reset -->
    <link rel="stylesheet" href="css/reset.css"   type="text/css" media="screen"/> 
    <!-- link to my css -->
    <link rel="stylesheet" href="css/int222a2.css" type="text/css" media="screen"/>
    
<!-- the HTML document body -->    
</head>

<body>
   <!-- assign this area as the top of the page -->
   <a id="top"></a>
   
   <!--start of navigation links section 1 -->
    <nav class="pagetopnavigation">
      <ul>
        <li>
                       <a href="../index.html">My zenit Account</a>
                &#187; <a href="index.html">Home</a> 
                &#187; <a href="gallery.html">Picture Gallery</a>
                &#187; <a href="video.html">Video</a>
                &#187; <a href="audio.html">Audio</a>
                &#187; <a href="tables.html">Tables</a>
                &#187; <a href="forms.html">Forms</a>
                &#187; <a href="css/mycss.css">CSS Used</a>
                &#187; <a href="other.html">Other</a>
        </li>
      </ul>
    <!--end of navigation links section 1 --> 
    </nav>
    
   
    
    <p id="allowance"></p>
    <div id="firstcontent"></div>
    
    <div class="pagehead">
        Other
    </div>
    
<!--greeting to a visitor-->

    <header>
        <h1>Foreign words in English!</h1>
    </header>
    
    <h4 class="centered">(Hover your mouse over some area of the map, click, and see the words!)</h4>
    
    <!-- start of outer-->
    <div class="page-other">
        
        <img alt="world_map"
             class="world-map"
             src="images/map.png"
             usemap="#w_map"
                />
        
        <br/>
        <br/>
        
        <!--start of image map -->
        
        
        <map id="w_map"
             name="w_map">
            
            <!--africa--> 
            <area alt="africa"
                  coords="412,138,377,201,405,230,484,365,571,209,543,213,509,153,454,132"
                  href="other.html#africa" 
                  shape="poly" 
                  title="africa"/>
            
            <!--arabic--> 
            <area alt="arabic"
                  coords="515,152,545,206,589,177,543,133"
                  href="other.html#arabic" 
                  shape="poly" 
                  title="arabic"/>
            
            <!--china--> 
            <area alt="china"
                  coords="718,83,697,116,642,95,618,126,700,180,735,179,754,154,761,101"
                  href="other.html#china" 
                  shape="poly" 
                  title="china"/>
            
            
            <!--india--> 
            <area alt="india"
                  coords="613,174,642,222,688,159,672,162,639,149,632,136"
                  href="other.html#india" 
                  shape="poly" 
                  title="india"/>
            
             <!--japanese-->
             
            <area alt="japanese"
                  coords="785,109,786,132,771,142,772,162,796,143,796,113"
                  href="other.html#japanese" 
                  shape="poly"
                  title="japanese"/>
            
            <!--portugeze-->            
            <area alt="portugal"
                  coords="404,115,409,118,407,132,402,130,283,243,329,266,278,355,218,268,256,230,279,234,403,119"
                  href="other.html#portugal" 
                  shape="poly" 
                  title="portugal"/>
            
            <!--russian-->       
            <area alt="russian"
                  coords="493,38,492,67,522,108,549,118,544,97,641,95,717,83,761,113,828,55,593,13,513,15" 
                  href="#russian"  
                  shape="poly"
                  title="russian"/>
            
        <!--end of image map -->    
        </map>
        
        
        
        <!--start of page-other-inset -->
        <div class="page-other-inset">
            
            
            
            <br />
            
            <!--start of africa table -->
            <a id="africa"></a>
            <table class="loanword-table">
                <tr>
                    <th>Africa</th>
                    <th>Original meaning</th>
                    <th>English meaning</th>
                </tr>
                <tr>
                    <td class="keyword">hip</td>
                    <td>"(one with) eyes open"</td>
                    <td>fashionable; stylish</td>
                </tr>
                <tr>
                    <td class="keyword">funk</td>
                    <td>"bad body odor"</td>
                    <td>low, depressed mood</td>
                </tr>
                <tr>
                    <td class="keyword">chimpanzee </td>
                    <td>"blue monkey a respectable gentleman"</td>
                    <td>an intelligent ape</td>
                </tr>
                
                
                 
            </table>
            <p class="gototop"><a href="#top">top</a></p>
            <!--end of africa table -->
            
            <br />
            
            <!--start of arabic table -->
        
            <a id="arabic"></a>
            <table class="loanword-table">
                <tr>
                    <th>Arabic word</th>
                    <th>Original meaning</th>
                    <th>English meaning</th>
                </tr>
                <tr>
                    <td class="keyword">admiral</td>
                    <td>"ruler of the seas"</td>
                    <td>the commanding officer of a navy or fleet </td>
                </tr>
                
                 <tr>
                    <td class="keyword">algebra</td>
                    <td>"completing or restoring broken parts"</td>
                    <td>a mathematical system</td>
                </tr>
                
                <tr>
                    <td class="keyword">fakir</td>
                    <td>"poor man"</td>
                    <td>a member of a Muslim holy sect who lives by begging</td>
                </tr>
                
                <tr>
                    <td class="keyword">safari</td>
                    <td>"of a journey"</td>
                    <td>a journey or hunting expedition, esp. in E Africa</td>
                </tr>
                
                <tr>
                    <td class="keyword">zero</td>
                    <td>"empty"</td>
                    <td>the symbol or numeral 0, representing the complete absence</td>
                </tr>               
                 
            </table>
            <p class="gototop"><a href="#top">top</a></p>
            <!--end of arabic table -->
            
            <br />
            
            <!--start of china table -->
            <a id="china"></a>
            <table class="loanword-table">
                <tr>
                    <th>China</th>
                    <th>Original meaning</th>
                    <th>English meaning</th>
                </tr>
                <tr>
                    <td class="keyword">fengshui</td>
                    <td>"wind and water"</td>
                    <td>something aesthetically balanced (in construction or design)</td>
                </tr>
                <tr>
                    <td class="keyword">ketchup </td>
                    <td>"tomato sauce/juice"</td>
                    <td>a sauce for meat, fish, etc.</td>
                </tr>
                <tr>
                    <td class="keyword">kung fu</td>
                    <td>"efforts"</td>
                    <td>a Chinese system of self-defense</td>
                </tr>    
            </table>
            <p class="gototop"><a href="#top">top</a></p>
            <!--end of china table -->
            
            <br />
            
             <!--start of india table -->
            <a id="india"></a>
            <table class="loanword-table">
                <tr>
                    <th>India</th>
                    <th>Original meaning</th>
                    <th>English meaning</th>
                </tr>
                <tr>
                    <td class="keyword">cheetah</td>
                    <td>"variegated"</td>
                    <td>a swift, long-legged cat</td>
                </tr>
                <tr>
                    <td class="keyword">guru</td>
                    <td>"heavy, weighty"</td>
                    <td>one's personal spiritual advisor or teacher</td>
                </tr>
                <tr>
                    <td class="keyword">pajamas</td>
                    <td>"leg garment"</td>
                    <td>sleeping or lounging suit consisting of top and trousers</td>
                </tr>    
            </table>
            <p class="gototop"><a href="#top">top</a></p>
            <!--end of india table -->
            
            <br />
            
            <!--start of japan table -->
        
            <a id="japanese"></a>
            <table class="loanword-table">
                <tr>
                    <th>Japanese word</th>
                    <th>Original meaning</th>
                    <th>English meaning</th>
                </tr>
                
                <tr>
                    <td class="keyword">bonsai</td>
                    <td>"tray gardening"</td>
                    <td>the art of tending miniature trees</td>
                </tr>
                
                <tr>
                    <td class="keyword">haiku</td>
                    <td>"verse"</td>
                    <td>a three line poem</td>
                </tr>
                <tr>
                    <td class="keyword">karaoke</td>
                    <td>"empty orchestra"</td>
                    <td>singing along with recorded music</td>
                </tr>
                <tr>
                    <td class="keyword">kimono</td>
                    <td>"a thing to wear"</td>
                    <td>a robe worn by people in Japan</td>
                </tr>
                
                <tr>
                    <td class="keyword">sensei</td>
                    <td>"one born before (me)"</td>
                    <td>master, teacher, doctor</td>
                </tr>
                 
            </table>
            <p class="gototop"><a href="#top">top</a></p>
            <!--end of japan table -->
            
            <br />
            
            <!--start of portugal table -->
            <a id="portugal"></a>
            <table class="loanword-table">
                <tr>
                    <th>Portugal</th>
                    <th>Original meaning</th>
                    <th>English meaning</th>
                </tr>
                <tr>
                    <td class="keyword">cabbage</td>
                    <td>"head"</td>
                    <td>a common vegetable</td>
                </tr>
                <tr>
                    <td class="keyword">cobra</td>
                    <td>"snake with a hood"</td>
                    <td>a snake with a hood</td>
                </tr>
                <tr>
                    <td class="keyword">mosquito </td>
                    <td>"little fly"</td>
                    <td>blood sucking flying insect</td>
                </tr>    
            </table>
            <p class="gototop"><a href="#top">top</a></p>
            <!--end of portugal table -->
            
            <br />
            
            <!--start of russianism table -->
            <a id="russian"></a>
            <table class="loanword-table">
                <tr>
                    <th>Russianism</th>
                    <th>Original meaning</th>
                    <th>English meaning</th>
                </tr>
                <tr>
                    <td class="keyword">babushka</td>
                    <td>"Granny"</td>
                    <td>A scarf worn underneath your chin</td>
                </tr>
                <tr>
                    <td class="keyword">blintz</td>
                    <td>"crepes"</td>
                    <td>a thin pancake, often filled with a filling</td>
                </tr>
                <tr>
                    <td class="keyword">cosmonaut</td>
                    <td>"space sailor"</td>
                    <td>a Russian austronaut</td>
                </tr>
                <tr>
                    <td class="keyword">KGB</td>
                    <td>"Committee for State Security"</td>
                    <td>1954-1991 something like FBI and CIA together</td>
                </tr>
                
                                
                <tr>
                    <td class="keyword">mammoth</td>
                    <td>"space sailor"</td>
                    <td>a Russian austronaut</td>
                </tr>
                <tr>
                    <td class="keyword">pirogi</td>
                    <td>"pies"</td>
                    <td>dumplings</td>
                </tr>
                
                 
            </table>
            <p class="gototop"><a href="#top">top</a></p>
            <!--end of russianism table -->
            
            
            
            
    
        <!--start of page-other-inset -->
        </div>
        
        
    <!-- end of outer-->    
    </div>

    

     

    <hr/>

    <footer>
      <section>
       <script type="text/javascript">
        //<![CDATA[
          var dt=new Date(document.lastModified);   // Get document last modified date
          document.write("<p>This page was last updated on "+dt.toLocaleString()) + "</p>";
        //]]>
        </script>
      </section>
    </footer>

</body>
</html>
