
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>int222_122b36 - Assignment #1 - text.html page</title>
    <link rel="stylesheet" href="css/reset.css"   type="text/css" media="screen" /> 
    <link rel="stylesheet" href="css/int222a1.css" type="text/css" media="screen" />
    
    <style>
       
        
        
    </style>
    
    
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="index.html"><img id="int222" src="../public/images/int222.png" alt="Assignment #1" />
          </a> 
        &#171; <a href="../index.html">My zenit Account</a>
        &#187; <a href="index.html">Home</a> 
        &#187; <a href="profile.html">My Profile</a>
        &#187; <a href="tables.html">Table Examples</a>
        &#187; <a href="lists.html">List Examples</a>
        &#187; <a href="text.html">Text Examples</a>
        &#187; <a href="contact.html">Contact</a>
        &#187; <a href="honesty.html">Honesty</a></li>
      </ul>
    </nav>
    <a id="top"></a>
    <div id="firstcontent">
      <div class="leftcontent">
        <article>
          <header>
            <h1>html Text</h1>
            <blockquote>
              <h2>Basic html text</h2>
            </blockquote>
          </header>
          <section>
            <blockquote class="more">   
              <p class="index1">
                HTML has the necessary tools to create all kinds of text, from the very basic to very elaborate. You can use HTML tags to insert hyperlinks into text, to insert images, manipulate font weight, size, color and decoration</p>
              <p class="index1">
                These are some of the text properties and the means we can use to specify them:</p>
               
               <ul class="uldsc">

                
                <li>a line break - br </li>
                <li>bolding - b </li>
                <li>italicization - i</li>
                <li>long quotation - blockquote</li>
                <li>new paragraph - p</li>
                <li>subscripting - sub</li>
                <li>superscripting - sup</li>
                <li>underlining - u</li>
                                
               </ul>
               
                
            </blockquote>
          </section>
        </article>
      </div>
      <div>
        <aside>
          <section>
            <p id="allowance"></p>
            <ul>
              <li><a href="#ex1">Text with CSS - example #1</a></li>
              <li><a href="#ex2">Text with CSS - example #2</a></li>
              <li><a href="#ex3">Text with CSS - example #3</a></li>
              <li><a href="#ex4">Text with CSS - example #4</a></li>
            </ul>
          </section>
        </aside>
      </div>
    </div>
    <a id="ex1"></a>
    <p class="gototop"><a href="#top">Top</a></p>
    
    <!-- text example 1 -->
    
    <hr id="thick" />
    <div class="content">
      <div class="leftcontent">
        <article>
          <header>
            <h2>Text with CSS - Example #1</h2>
          </header>
          <section>
            <blockquote class="more"> 
              <p class="ex1">
              
                 "<b>When</b> one door closes, another <span class="large">opens</span> - but often we look so long and so regretfully upon the closed door that we fail to see the one that has opened for us".
                 
              </p>
            </blockquote>
          </section>
        </article>
      </div>
      <div>
        <aside>
          <section>
            <p>
                In this example: the word "when" is enclosed in <b>b</b> tag for bolding, the word "opens" is used with <b>span</b>, and <b>background-color</b> with value fff000 for yellow. <br/>
                The CSS properties used are: "color" (#000099), "direction" (rtl), "letter-spacing" (2pt), "background-color" (#fff000), and "font-family" (fantasy).
 
            </p> 
          </section>
        </aside>
      </div>
    </div>
    <a id="ex2"></a>
    <p class="gototop"><a href="#top">Top</a></p>
    <hr />
                                                         <!--example 2 -->
    <div class="content">
      <div class="leftcontent">
        <article>
          <header>
            <h2>Text with CSS - Example #2</h2>
          </header>
          <section>
            <blockquote class="more"> 
              <p class="ex2">
                "There are two things to aim at in life; <br/>
                <span class="spec">first</span> to get what you want, and <span class="spec">after that</span> to enjoy it.
                <br/>
                Only the wisest of mankind has achieved the second".
              </p>
            </blockquote>
          </section>
        </article>
      </div>
      <div>
        <aside>
          <section>
            <p>
                In this example, the words "first" and "after that" are bolded using <b>span</b> with properties: "letter-spacing" (0.2em), "color" (#ff0000), and "text-decoration" (underline).
                <br/>
                The CSS properties applied are "line-height" (100%), "text-align" (center), "text-decoration" (blink), and "font-size" (large).
            </p> 
          </section>
        </aside>
      </div>
    </div>
    <a id="ex3"></a>
    <p class="gototop"><a href="#top">Top</a></p>
    <hr />
                                                    <!-- example 3 -->
    <div class="content">
      <div class="leftcontent">
        <article>
          <header>
            <h2>Text with CSS - Example #3</h2>
          </header>
          <section>
            <blockquote class="more"> 
              <p class="ex3">
                "Many do with opportunities as <span class="large">children</span> do at the seashore; they fill their little hands with sand, and then let the grains fall through, one by one".
              </p>
            </blockquote>
          </section>
        </article>
      </div>
      <div>
        <aside>
          <section>
            <p>
                The word "children" is modified using <b>span</b> with properties "color" (#009900), and "text-decoration" (overline).
                <br/>
                The CSS properties implemented are "text-indent" (10pt), "text-transform" (uppercase), "vertical-align" (top), and "font-weight" (bold). 
            </p> 
          </section>
        </aside>
      </div>
    </div>
    <a id="ex4"></a>
    <p class="gototop"><a href="#top">Top</a></p>
    <hr />
                                                    <!-- example 4 -->
    
    <div id="lastcontent">
      <div class="leftcontent">
        <article>
          <header>
            <h2>Text with CSS - Example #4</h2>
          </header>
          <section>
            <blockquote class="more"> 
              <p class="ex4">
                "All compromise is based on give and take, but there can be no give and take on fundamentals. Any compromise on mere fundamentals is surrender - for it is all give and no take".
              </p>
            </blockquote>
          </section>
        </article>
      </div>
      <div>
        <aside>
          <section>
            <p>
                The CSS properties I have included here are "word-spacing" (1em), "text-justify" (distribute), "text-shadow" (2px 2px #aaaaaa), "font-style" (italic), and "font-variant" (small-caps).
            </p>
          </section>
        </aside>
      </div>
    </div>
    <p class="gototop"><a href="#top">Top</a></p>
    <hr />
    <footer>
      <section>
       <script type="text/javascript">
        //<![CDATA[
          var dt=new Date(document.lastModified);   // Get document last modified date
          document.write('<p>This page was last updated on '+dt.toLocaleString()) + '</p>';
        //]]>
        </script>
      </section>
    </footer>
   </body>
</html>