
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>int222_122b36 - Assignment 1 - honesty.html page </title>
    <link rel="stylesheet" href="css/reset.css"   type="text/css" media="screen" /> 
    <link rel="stylesheet" href="css/int222a1.css" type="text/css" media="screen" /> 
  </head>
  <body class="ord">
    <nav>
      <ul>
        <li><a href="index.html"><img id="int222" src="images/int222.png" alt="Assignment #1" />
        </a> 
        &#171; <a href="../index.html">My zenit Account</a>
        &#187; <a href="index.html">Home</a> 
        &#187; <a href="profile.html">My Profile</a>
        &#187; <a href="tables.html">Table Examples</a>
        &#187; <a href="lists.html">List Examples</a>
        &#187; <a href="text.html">Text Examples</a>
        &#187; <a href="contact.html">Contact</a>
        &#187; <a href="honesty.html">Honesty</a></li>
      </ul>
    </nav>
    <a id="top"></a>
    <p id="allowance"></p>
    <div id="firstcontent">
        <article>
          <header>
            <h1>This is the Honesty page</h1>
          </header>
          <section>
            <blockquote class="more">   
              <p class="index1">
                I declare that the attached assignment is wholly my own work in accordance with Seneca Academic Policy. No part of this assignment has been copied manually or electronically from any other source (including web sites) except for the information supplied by the INT222 instructors and / or made available in this assignment for my use. </p>
                
               <p class="index1">
                I also declare that no part of this assignment has been distributed to other students. </p>
                
               <p class="index1">
                Signed: <span class="sign"> Igor Entaltsev</span></p>
                
                <p class="index1">
                  Dated: <span class="sign"> June 10, 2012</span></p>
              
            </blockquote>
          </section>
        </article>
    </div>
    <p class="gototop"><a href="#top">Top</a></p>
    <hr />
    <footer>
      <section>
       <script type="text/javascript">
        //<![CDATA[
          var dt=new Date(document.lastModified);   // Get document last modified date
          document.write('<p>This page was last updated on '+dt.toLocaleString()) + '</p>';
        //]]>
        </script>
      </section>
    </footer>
   </body>
</html>