<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>honesty.html page</title>
    <link rel="stylesheet" href="css/reset.css"   type="text/css" media="screen" /> 
    <link rel="stylesheet" href="css/int222a2.css"   type="text/css" media="screen" /> 
  </head>
  <body>
   <blockquote>   
     <p>I declare that the attached assignment is wholly my own work in accordance with Seneca Academic 
        Policy. No part of this assignment has been copied manually or electronically from any other source 
        (including web sites) except for the information supplied by the INT222 instructors 
        and / or made available in this assignment for my use.<br/><br/> 
        I also declare that no part of this assignment has been distributed to other students.<br/><br/>
     </p>
        <p class="hand-writing">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Igor Entaltsev
        </p>
        <p>
        Signed: <br/><br/>
        </p>
        <p class="hand-writing">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        August 7, 2012
        </p>
        <p>
        Dated: <br/><br/></p>
   </blockquote>
   <hr />
  <p> <a href="index.html">Back</a> to Assignmnet #3</p>
  <footer>
      <section>
       <script type="text/javascript">
        //<![CDATA[
          var dt=new Date(document.lastModified);   // Get document last modified date
          document.write('<p>This page was last updated on '+dt.toLocaleString()) + '</p>';
        //]]>
        </script>
      </section>
   </footer>
  </body>
</html>

