
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>int222_122b36 - Assignment #1 - lists.html page</title>
    <link rel="stylesheet" href="css/reset.css"   type="text/css" media="screen" /> 
    <link rel="stylesheet" href="css/mystyle.css" type="text/css" media="screen" />
    <!--CSS rules-->
    <style>

    </style>
    
  </head>
  <body class="ord">
    <nav>
      <ul>
        <li><a href="index.html"><img id="int222" src="../public/images/int222.png" alt="Assignment #1" />
        </a> 
        &#171; <a href="../index.html">My zenit Account</a>
        &#187; <a href="index.html">Home</a> 
        &#187; <a href="profile.html">My Profile</a>
        &#187; <a href="tables.html">Table Examples</a>
        &#187; <a href="lists.html">List Examples</a>
        &#187; <a href="text.html">Text Examples</a>
        &#187; <a href="contact.html">Contact</a>
        &#187; <a href="honesty.html">Honesty</a></li>
      </ul>
    </nav>
    <a id="top"></a>
    <div id="firstcontent">
      <div class="leftcontent">
        <article>
          <header>
            <h1>html Lists</h1>
            <blockquote>
              <h2 class="myh2">Basic html lists</h2>
            </blockquote>
          </header>
          <section>
            <blockquote class="more">
                
              <p class="index1">
                 There are several types of lists, e.g.:
              </p>
              
                <ul class="uldsc">
                    <li>ordered lists</li>
                    <li><b>un</b>ordered lists</li>
                    <li>definition lists</li>
                </ul>
                 
              
    
              <p class="index1">
                An <b>ordered list</b> is a list of items that are placed in a column and numbered or alphabetized. An <b>unordered list</b> is similar to an ordered list but it is bulleted. A <b>definition list</b> is a list that is used for providing terms and their definitions.
              </p>
                
              <p class="index1">
                  The following HTML tags can be used to create the above mentioned lists:
              </p>
                
                 <ul class="uldsc">
                  <li>ul - for unordered lists</li>
                  <li>ol - for ordered lists</li>
                  <li>dl - for definition lists</li>
                  <li>li - for list items</li>
                </ul>
                
                <p class="index1">
                The basic HTML tags used to create lists are as follows:<br/>
                
                ul, ol, dl, li
               </p>



            </blockquote>
          </section>
        </article>
      </div>
      <div>
        <aside>
          <section>
            <p id="allowance"></p>
            <ul>
              <li><a href="#ex1">List with CSS - example #1</a></li>
              <li><a href="#ex2">List with CSS - example #2</a></li>
              <li><a href="#ex3">List with CSS - example #3</a></li>
              <li><a href="#ex4">List with CSS - example #4</a></li>
            </ul>
          </section>
        </aside>
      </div>
    </div>
    <a id="ex1"></a>
    <p class="gototop"><a href="#top">Top</a></p>
    <!-- line -->
    <hr id="thick" />
    <div class="content">
      <div class="leftcontent">
        <article>
          <header>
            <h2 class="myh2">List with CSS - Example #1</h2>
          </header>
          <section>
            <blockquote class="more"> 
              <p class="index1">
                The following is an example of an <b>unordered list</b> to show different sports played in Canada:
              </p>
             
              
                <ul class="uldsc">
                   <li>Ice Hockey</li>
                   <li>Lacrosse</li>
                   <li>Soccer</li>
                   <li>Baseball</li>
                   <li>Football</li>
                   <li>Basketball</li>
                 </ul> 
               
              
              <p><a href="#">Change unordered list style</a></p>

            </blockquote>
          </section>
        </article>
      </div>
      <div>
        <aside>
          <section>
            <p class="ord">
              The CSS features used in this example 1 are: <br/>
              "font-family" (sans-serif), <br/>
              "list-style-type" (disc), <br/>
              "list-style-position" (inside). <br/>
            </p>
          </section>
        </aside>
      </div>
    </div>
    <a id="ex2"></a>
    <p class="gototop"><a href="#top">Top</a></p>
    
    <hr />
    
    <div class="content">
      <div class="leftcontent">
        <article>
          <header>
            <h2 class="myh2">List with CSS - Example #2</h2>
          </header>
          <section>
            <blockquote class="more"> 
              <p class="index1">
                These are the subjects I am enrolled in (in the order of preference): </p>
                 <ol class="oldec">
                    <li>OOP244</li>
                    <li>INT222</li>
                    <li>DBS301</li>
                    <li>SES410</li>
                    <li>SYS366</li>
                 </ol>
                  
                 <p><a href="#">Change ordered list style</a></p>
              
            </blockquote>
          </section>
        </article>
      </div>
      <div>
        <aside>
          <section>
            <p class="ord">
              In this example I used the following CSS features: <br/>
              "font-family" (serif), <br/>
              "list-style-type" (decimal), <br/>
              "list-style-position" (inside). <br/>
            </p> 
          </section>
        </aside>
      </div>
    </div>
    <a id="ex3"></a>
    <p class="gototop"><a href="#top">Top</a></p>
    <hr />
    <div class="content">
      <div class="leftcontent">
        <article>
          <header>
            <h2 class="myh2">List with CSS - Example #3</h2>
          </header>
          <section>
            <blockquote class="more"> 
              <p class="index1">This is an example of a definition list:</p> <br/>
                <dl class="deflist">
                    <dt class="defterm">Applet</dt>
                        <dd class="defdef">A small software application, typically in the Java programming language, that provides a dynamic and interactive quality to a web page.</dd>
                    <dt class="defterm">Bit</dt>
                        <dd>Short for binary digit, a bit is the smallest unit of data a computer can handle. Bits are used in various combinations to represent different kinds of data. Each bit has a value of 0 or 1, represent on or off, true or false.</dd>
                    <dt class="defterm">Byte</dt>
                        <dd>The basic unit of storage on a computer, one byte is a series of bits of a particular length that holds approximately one letter, number, or other character. A byte usually comprises eight bits. A kilobyte (or 1 K) represents 1024 bytes, and a megabyte (1 Mb) represents one thousand "K" bytes, or one million bytes.</dd>
                    <dt class="defterm">Disk Drive</dt>
                        <dd>A machine that reads data from and writes data onto a disk. A disk drive rotates the disk very fast, and has one or more heads that reads and writes data.</dd>
                    <dt class="defterm">GIF</dt>
                        <dd>Acronym for Graphics Interchange Format, GIF is a graphics file format that uses a compression scheme originally developed by CompuServe. Because GIF files are compressed, the file can be quickly and easily transmitted over a network. That's why it is the most commonly used graphics format on the World Wide Web.</dd>
                </dl>
              
            </blockquote>
          </section>
        </article>
      </div>
      <div>
        <aside>
          <section>
            <p class="ord">
              The CSS features used in this 3rd example are: <br/>
              "font-family" (serif), <br/>
              for definition terms: "font-weight" (bold), <br/>
              "list-style-type" (disc), <br/>
              "list-style-position" (inside) <br/>
              
             </p> 
          </section>
        </aside>
      </div>
    </div>
    <a id="ex4"></a>
    <p class="gototop"><a href="#top">Top</a></p>
    <hr />
    <div id="lastcontent">
      <div class="leftcontent">
        <article>
          <header>
            <h2 class="myh2">List with CSS - Example #4</h2>
          </header>
          
          <section>
            <blockquote class="more"> 
               <p class="index1">An example of a family tree: </p>
               
             
               
                <ul class="uldsc" > 
                    <li class="bold1">Greg + Love:
                        <ul class="ulgrk" >
                            <li>Nick + Lucy
                                <ul class="ulhir">
                                  
                                    <li>Ian + Jenny
                                        <ul class="ulsq">
                                            <li>Dan</li>
                                            <li>Evelyn</li>                                
                                        </ul>
                                    </li>
                                    
                                    <li>Alex + Kate
                                        <ul class="ulsq">
                                            <li>Mary</li>
                                        </ul>
                                    </li>
                                    
                                    <li>Stanly
                                    </li>
                                    
                                </ul>
                            </li>
                            
                        
                      
                              
                        <li>Bob + Lydia
                              <ul class="ulhir">
                                <li>Jane</li>                               
                              </ul>
                        </li>
                        
                        <li>Henry + Cindy
                              <ul class="ulhir">
                                <li>Joan</li>
                              </ul>
                        </li>
                        
                        <li>Lucy + Simon
                              <ul class="ulhir">
                                <li>Sid</li>
                              </ul>
                        </li>
                    </ul>
                    
                    <li class="bold1">Mike + Jill
                        <ul class="ulgrk" > 
                            <li>Jack + Jill</li>
                            <li>Ben</li>                            
                        </ul>
                    </li>    
                </ul>
              
            </blockquote>
          </section>
        </article>
      </div>
      <div>
        <aside>
          <section>
            <p class="ord">
              In this example 4 I used the following CSS features: <br/>
              "font-family" (serif) <br/>
              "font-weight" (bold) for definition terms <br/>
              "font-size" (large) <br/>
              
              "list-style-position" (inside) <br/>
              "list-style-type" (square, disc, lower-greek, hiragana-iroha) <br/>
              
            </p> 
          </section>
        </aside>
      </div>
    </div>
    <p class="gototop"><a href="#top">Top</a></p>
    <hr />
    <footer>
      <section>
       <script type="text/javascript">
        //<![CDATA[
          var dt=new Date(document.lastModified);   // Get document last modified date
          document.write('<p>This page was last updated on '+dt.toLocaleString()) + '</p>';
        //]]>
        </script>
      </section>
    </footer>
   </body>
</html>