<!DOCTYPE html>

<html lang="en">
<head>
    
    <meta charset="UTF-8"/>
    
    
    <title>int222_122b36 - Assignment 2 - Home Page</title>
    <!-- link to reset -->
    <link rel="stylesheet" href="css/reset.css"   type="text/css" media="screen"/> 
    <!-- link to my css -->
    <link rel="stylesheet" href="css/int222a2.css" type="text/css" media="screen"/>
    
<!-- the HTML document body -->    
</head>

<body>
   
   <!--start of navigation links section 1 -->
    <nav class="pagetopnavigation">
      <ul>
        <li>
            
                       <a href="../index.html">My zenit Account</a>
                &#187; <a href="index.html">Home</a> 
                &#187; <a href="gallery.html">Picture Gallery</a>
                &#187; <a href="video.html">Video</a>
                &#187; <a href="audio.html">Audio</a>
                &#187; <a href="tables.html">Tables</a>
                &#187; <a href="forms.html">Forms</a>
                &#187; <a href="css/mycss.css">CSS Used</a>
                &#187; <a href="other.html">Other</a>
        </li>
      </ul>
    <!--end of navigation links section 1 --> 
    </nav>
    
   
    <a id="top"></a>
    <p id="allowance"></p>
    <div id="firstcontent"></div>
    
    <div class="pagehead">
        Home
    </div>
    
<!--greeting to a visitor-->

    <header>
        <h1>Hello, dear visitor, welcome to my page!</h1>
    </header>

<!--start of table row -->
<div class="tablerow">
    
    <!-- start of table cell left-->
    <div class="table-cell-left">
        
                <h2>About HTML and Reset</h2>
                
                <p>HTML5 is becoming very popular in web development and the reasons are following: accessibility (sites are accessible), supports video and audio content, helps create clean code, better interactions with the user, supports other browsers including legacy browsers, creates mobile sites, and is the language of the future.</p>
                <hr />
                <p>Why do we use reset? We use the short of CSS rules to reset the styling of all HTML elements to a consistent baseline. Every browser has its own default "user agent" stylesheet, that it uses to make unstyled websites appear more legible. Using a CSS Reset, we can force every browser to have all its styles reset to null, thus avoiding cross-browser differences as much as possible.</p>
    <!-- end of table cell left-->
    </div>
    
    <!-- start of table cell right-->
    <div class="table-cell-right">
        <h2>Recommended links:</h2>
        <h4>Examples of CSS</h4>
        <ul class="ul-link-bullet">
            <li><a href="http://studio.adobe.com/">Adobe Studio</a></li>
            <li><a href="http://espn.go.com/">ESPN</a></li>
            
            <li><a href="http://www.wired.com/">Wired News</a></li>
        </ul>
        
        <h4>Examples of HTML5</h4>
        <ul class="ul-link-bullet">
            <li><a href="http://agent8ball.com/">Agent 008 Ball</a></li>            
            <li><a href="http://lostworldsfairs.com/">Lost World's Fair</a></li>
            <li><a href="http://www.thewildernessdowntown.com/">The Wilderness Downtown</a></li>           
            
        </ul>
        
    <!-- end of table cell left-->
    </div>
    
    <!--end of table row -->
</div>

    <div class="central">
        <p>            
            I declare that the attached assignment is wholly my own work in accordance with Seneca Academic Policy. No part of this assignment has been copied manually or electronically from any other source (including web sites) except for the information supplied by the INT222 instructors and / or made available in this assignment for my use.
        </p>
        <p>
            I also declare that no part of this assignment has been distributed to other students.
        </p>
            
        <p class="hand-writing">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Igor Entaltsev
        </p>    
            
        <p>Signed: _________________
        </p>
        
        <p class="hand-writing">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        July 7, 2012
        </p>
        
        <p>Dated: ______________
        </p>
        
        
    </div>

     

    <hr/>

    <footer>
      <section>
       <script type="text/javascript">
        //<![CDATA[
          var dt=new Date(document.lastModified);   // Get document last modified date
          document.write('<p>This page was last updated on '+dt.toLocaleString()) + '</p>';
        //]]>
        </script>
      </section>
    </footer>

</body>
</html>
