<!DOCTYPE html>

<html lang="en">
<head>
    
    <meta charset="UTF-8"/>
    
    <title>int222_122b36 - Assignment 2 - Picture Gallery</title>
    <!-- link to reset -->
    <link rel="stylesheet" href="css/reset.css"   type="text/css" media="screen"/> 
    <!-- link to my css -->
    <link rel="stylesheet" href="css/int222a2.css" type="text/css" media="screen"/>
    
<!-- the HTML document body -->    
</head>

<body>
   <!-- assign this area as the top of the page -->
   <a id="top"></a>
   
   <!--start of navigation links section 1 -->
    <nav class="pagetopnavigation">
      <ul>
        <li>
            
                       <a href="../index.html">My zenit Account</a>
                &#187; <a href="index.html">Home</a> 
                &#187; <a href="gallery.html">Picture Gallery</a>
                &#187; <a href="video.html">Video</a>
                &#187; <a href="audio.html">Audio</a>
                &#187; <a href="tables.html">Tables</a>
                &#187; <a href="forms.html">Forms</a>
                &#187; <a href="css/mycss.css">CSS Used</a>
                &#187; <a href="other.html">Other</a>
        </li>
      </ul>
    <!--end of navigation links section 1 --> 
    </nav>
    
   
    
    <p id="allowance"></p>
    <div id="firstcontent"></div>
    
    <div class="pagehead">
        Picture Gallery
    </div>
    
<!--greeting to a visitor-->

    <header>
        <h1>There are pictures!</h1>
    </header>

<!--start of table row -->
<div class="tablerow">
    
    <!-- start of table cell left-->
    <div class="table-cell-left">
        
        <a id="views"></a>
        <h2>Views of Sochi</h2>
        
        <p>See the beautiful scenery of Sochi. The city is famous for its picturesqe nature and is the favorite destination for vacationers from all over Russia. </p>
        <hr/>
                <!--picture 1/4 -->
              <table>
                <tr>
                        <th colspan="2">
                            <a id="akhun"></a>
                            <p class="h2">Mt. Akhun</p>
                            
                        </th>
                </tr>
                
                <tr>
                    <td class="table-cell-pic-desc">
                        <p>
                            This is the view off Mt. Akhun. Mt. Akhun is a popular destination for people on a weekend and for couples on their wedding day. An urban legend is that on a fine day you can see across the Black Sea all the way to Turkey! 
                        </p>
                    </td>
                    <td>
                        <img src="images/sochi-akhun.jpg" alt="Sochi, view off Mt. Akhun" title="Sochi. Mt. Akhun"/>
                    </td>
                </tr>
                
                
              </table>
              
              <p class="gototop"><a href="#top">Top</a></p>
                
            <hr />
            <!--picture 2/4 -->
            <table>
                <tr>
                    <th colspan="2">
                        <a id="canyon"></a>
                        <p class="h2">Mountain River Canyons</p>                    
                    </th>
                </tr>
                <tr>
                    <td class="table-cell-pic-desc">
                        <p>
                            Sochi is famous for its numerous picturesque canyons. Once you are there, the scenery looks so unreal it makes you think you are in some author's world of fantasy.
                        </p>
                    </td>
                    <td>
                        <img src="images/sochi-canyon.jpg" alt="Sochi, Canyons" title="Sochi. Canyons"/>
                    </td>
                </tr>
                
                
              </table>
              
              <p class="gototop"><a href="#top">Top</a></p>
              
              <hr />
              <!--picture 3/4 -->
            <table>
                <tr>
                    <th colspan="2">
                        <a id="mountains"></a>
                        <p class="h2">Sochi Mountains</p>
                    
                    </th>
                </tr>
                
                <tr>
                    <td class="table-cell-pic-desc">
                        <p>
                            Sochi is located between the Black Sea and the mountain ridge called the Caucasus. This is a view from a valley called Beautiful (Krasnaya Polyana). It is known as the Switzerland of Russia. A favorite destination for tourists due to its breathtaking scenery.
                        </p>
                    </td>
                    <td>
                        <img src="images/sochi-mountains.jpg" alt="Sochi, Mountains" title="Sochi. Mountains"/>
                    </td>
                </tr>
                
                
              </table>
              
              <p class="gototop"><a href="#top">Top</a></p>
              
              <hr />
              <!--picture 4/4 -->
            <table>
                <tr>
                    <th colspan="2">
                        <a id="beach"></a>
                        <p class="h2">Sochi Beaches</p>                    
                    </th>
                </tr>
                
                <tr>
                    <td class="table-cell-pic-desc">
                        <p>
                            Sochi is the single warmest place in Russia and is different from the rest of the country by its flora also. People from all over the country come to Sochi for their health and also to enjoy swimming in the Black Sea. 
                        </p>
                    </td>
                    <td>
                        <img src="images/sochi-beach.jpg" alt="Sochi, beach" title="Sochi. Beach"/>
                    </td>
                </tr>
                
                
              </table>
              
              <p class="gototop"><a href="#top">Top</a></p>
               
    <!-- end of table cell left-->
    </div>
    
    <!-- start of table cell right-->
    <div class="table-cell-right">
        <h2>Gallery</h2>
        
       
            <p class="gototop"><a href="#view">Views of Sochi</a></p>
            <p class="gototop"><a href="#akhun">Mt. Akhun</a></p>
            <p class="gototop"><a href="#canyon">Mountain River Canyons</a></p>
            <p class="gototop"><a href="#mountains">Sochi Mountains</a></p>
            <p class="gototop"><a href="#beach">Sochi Beaches</a></p>
        
        
       
        
    <!-- end of table cell left-->
    </div>
    
    <!--end of table row -->
</div>

    

     

    <hr/>

    <footer>
      <section>
       <script type="text/javascript">
        //<![CDATA[
          var dt=new Date(document.lastModified);   // Get document last modified date
          document.write('<p>This page was last updated on '+dt.toLocaleString()) + '</p>';
        //]]>
        </script>
      </section>
    </footer>

</body>
</html>
