<!DOCTYPE html>

<html lang="en">
<head>   
    
   
    
    
    
    <title>int222_122b36 - Assignment 3a</title>
    
     <meta charset="utf-8" />
     <!-- link to reset -->
    <link rel="stylesheet" href="css/reset.css"   type="text/css" media="screen"/> 
    <!-- link to my css -->
    <link rel="stylesheet" href="css/mycss.css" type="text/css" media="screen"/>
    
     
</head>

<body>
    <br/>------------------------------------------------------------------------<br/>   
     <script>        
          var myDate = new Date();              // returns the date object
          document.write("<p>The date is <mark> ", myDate, " </mark></p>");
    </script>
    
       <table>
        <tr>
         <td><mark>The date object returns the full date.</mark></td>
        </tr>
       </table>

    <br/>------------------------------------------------------------------------<br/>   
    
    <script>
   var myDate         = new Date();   // returns the date object
   var myMonth        = myDate.getMonth();        // 0 through 11
   var myDay          = myDate.getDate();         // 1 through 31
   var myDayOfWeek    = myDate.getDay();          // 0 through 6 -  0 = Sunday
   var myYear         = myDate.getFullYear();     // 4 digit year
   var myHour         = myDate.getHours();        // 0 through 23
   var myMinutes      = myDate.getMinutes();      // 0 through 59
   var mySeconds      = myDate.getSeconds();      // 0 through 59
   var myMillSec      = myDate.getMilliseconds(); // 0 through 999
   var months  = new Array("January",   "February", "March",    "April",     "May",       "June",     "July",     "August",
              "September", "October",  "November", "December");
   var days    = new Array("Sunday",   "Monday", "Tuesday","Wednesday", "Thursday", "Friday", "Saturday");
</script>
      <p><mark> var myDate = new Date();</mark></p>
      <p><mark> var myMonth = myDate.getMonth();</mark></p>
<script>
       document.write("<p>The date is <mark> ", myDate, " </mark></p>");
       document.write("<p>The Month is <mark> ", 
       myMonth, " </mark> which is, <mark> ", 
       months[myMonth], "</mark></p>");
 </script>
       <p><mark>The getMonth() method returns 0 for January, 1 for February ... 11 for December.</mark></p>

    <br/>------------------------------------------------------------------------<br/>
    <br/>------------------------------------------------------------------------<br/>
    <br/>------------------------------------------------------------------------<br/>
    <br/>------------------------------------------------------------------------<br/>
    <br/>------------------------------------------------------------------------<br/>
    <br/>------------------------------------------------------------------------<br/>
    <br/>------------------------------------------------------------------------<br/>
    <br/>------------------------------------------------------------------------<br/>
    <br/>------------------------------------------------------------------------<br/>
    <br/>------------------------------------------------------------------------<br/>
    <br/>------------------------------------------------------------------------<br/>
    <br/>------------------------------------------------------------------------<br/> 
    
    
    
    <footer>
      <section>
        <p>
            
            
        <script type="text/javascript">
        //<![CDATA[
          var dt=new Date(document.lastModified);   // Get document last modified date
          document.write('This page was last updated on '+dt.toLocaleString());
        //]]>
        </script>
            
       
       </p>
      </section>
    </footer>
    
       
       
       
    

</body>
</html>
