.button {
display: block;
min-width: 50px;
width: 80px;
padding:5px 10px;

}

.blink 
{
    text-decoration: blink;
    background-color: yellow;
}
.red{
    height: 10px solid;
    color: red;
}
/*li {
    font-weight: bold
    }
*/
.tp {
    border: 1px solid #f00000;
}

.tp th, .tp td 
{
    border: 1px solid #aaaaaa;
    padding: 5px;
    /*  border-color: */
}

/*===== # ================================*/

#navigation_pane{
    border-right: 1px solid white;
    float: left;
    font-size: small;
    padding-right: 5px;
}

#display_pane{
    column-fill:auto;
    font-family: "Arial Narrow", sans-serif;
    font-size: small;
    -moz-column-count:5; /* Firefox */
    -webkit-column-count:5; /* Safari and Chrome */
    column-count:5;
    -moz-column-gap:5px; /* Firefox */
    -webkit-column-gap:5px; /* Safari and Chrome */
    column-gap:5px;

    /*columns:10px 5;*/
    /*    -webkit-columns:10px 5; /* Safari and Chrome */
    /*    -moz-columns:10px 5; /* Firefox */
    padding-left: 5px;

}

/*===== A ================================*/
/*color of link when active*/

a:active{
    color: #ffffff;} /*white*/ /*#009900*/

a:hover{
    background: #ffff66;
    color: red;
    /*font-weight: bold;*/	
}

a:link {
    color: #009999;
    text-decoration: none;
}

a:visited {
    color:#00FF00;}  /* visited link */
/* color of link at mouse over*/

/*====== B ================================*/

body 
{
    /*font-family: sans-serif;*/
    /* font-family: Verdana , Gill Sans MT, sans-serif;*/
    font-family:  Consolas, monospace;
    font-size: 10px;
    font-weight:  lighter;
    color: green;
    /*color: black;*/
    background-color: black;
    /*  background-color: hsla(50,20%,70%,0.9);*/
    /*  background-color: #000033;*/
}
body.monospaced
{
    font-family: Consolas, monospace;

    font-size: 100px;
    font-weight:  lighter;
    color: green;
    /*color: black;*/
    background-color: black;
}

/*====== D ================================*/

div.a{
    background-color: lightsteelblue;
    border-radius: 10px;
    padding: 5px;
    width: 10px;

    border-style: ridge;
    display:  table-cell;
    text-align: center;
}

div.b{
    display: compact;
    background-image: url('file:///D:/pics/we.jpeg');
}

div.index_page{
    display: block;
    text-align: center;
}

/*========== dynamic columns ========================= */
/*div
{
    columns:10px 6;
    -webkit-columns:10px 6; /* Safari and Chrome *//*
    -moz-columns:10px 6; /* Firefox *//*
} */

div.main_page
{  
  height: 100%;  
} 
/*========== end dynamic columns ========================= */

div.base{
    background-color: black;
    border-radius: 10px;
    width: 800px;
    margin: auto;
    border-style: ridge;
    border-width: thick;
    padding: 10px;
    text-align: center;
}
div.block{
    background-color: #213737; /*darkslategray*/
    /*border-radius: 5px;*/
    border-bottom-color:  darkred;
    border-bottom:  1px solid ;
    border-top-color: darkred;
    border-top:  1px solid ;
    /*  border-style: ridge;*/

    display:  table;
    /*height: available;*/

    /*   float: inside  ;*/
    margin: auto;
    padding-left:   4px;
    text-align: left;
    width: 100% ;

}

div.menu_centered{
    
    margin: auto;
    text-align: center;
}

div.navigation_pane{
    /*margin-left: 5px;*/
    position: fixed;
    /*display: table-cell;*/
    
}

div.table_container{
    display: table;
    width: 100%;

}

/*===== H ================================*/

h2{
    font-family: 'Times New Roman',Times,serif;
    color: #ff0000;

    text-align: center;
}

hr{
    height: 3px solid;
    color: green;
}

/*===== T ================================*/

table {
    border: 1px ridge #ffffff;
    /*color: ;*/
    padding: 1px;
    width: 100%;

}
table td{
    border: 1px ridge #ffffff;
    padding: 10px;
    vertical-align: top;
    width: 50%;

}

